
.slider {
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
  }
  .slider:before {
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23.958%;
    height: 110px;
  }
  
  .slider:after {
    position: absolute;
    right: 0;
    content: "";
    width: 23.958%;
    height: 110px;
   
  }
  .slider .slide-track {
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(240px * 10);
  }
  .slider .slide {
    cursor: pointer;
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 20px;
    background-color: #FF676D;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider .slide img {
    height:300px;
    width: 250px;
    filter:  saturate(100%);
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    100% {
      -webkit-transform: translateX(calc(-240px * 5));
      transform: translateX(calc(-240px * 5));
    }
  }